body {
  background-image: url(https://images.pexels.com/photos/2341830/pexels-photo-2341830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: inherit;
  font-family: "Montserrat", sans-serif;
}

.app {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background: #8ab6d6;
  border: 0.2px solid #8ab6d6;
  opacity: 95%;
  max-width: 725px;
  margin: 120px auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row-forecast {
  border: 0.5px solid #8ab6d6;
  background: #28527a;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  color: #fbe0c4;
}

.weather-forecast-date {
  font-size: 22px;
  margin: 0 0 5px;
}

.forecast-icon {
  align-items: center;
  padding-bottom: 5px;
  margin: 0 0 5px;
}

.weather-forecast-temp-min {
  opacity: 0.85;
}

.day {
  position: relative;
  margin-left: 20px;
  text-align: center;
}

.weather-temperature {
  margin-bottom: 15px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 100px;
}

.weather-temperature strong {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.25;
  font-family: "Comfortaa", cursive;
  color: #28527a;
  margin-left: 40px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  top: -45px;
}

#fahrenheit-link {
  text-decoration: none;
}

#celcius-link {
  text-decoration: none;
  color: #ffffff;
}

.active {
  text-decoration: none;
  color: #28527a;
  font-weight: bold;
  font-size: 24px;
  cursor: default;
}

a {
  text-decoration: none;
  color: #686d76;
}

a:hover {
  text-decoration: none;
  color: #28527a;
}

#temp-description {
  color: #28527a;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: "Comfortaa", cursive;
}

#temp-description::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 40px;
  font-family: "Comfortaa", cursive;
  color: #28527a;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0 30px;
  padding: 0;
  color: #373a40;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  margin-bottom: 2px;
}

#current-time {
  color: #373a40;
  font-size: 14px;
  margin: 0;
}

.float-left {
  float: left;
}

small {
  text-align: center;
  color: #373a40;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: block;
}
