body {
  background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #cdd0cb;
  background-color: #d9e4dd;
  opacity: 90%;
  max-width: 800px;
  margin: 70px auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.day {
  position: relative;
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
}

.forecast-icon {
  align-items: center;
  padding-bottom: 5px;
}

.details {
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 10px;
  position: relative;
  font-weight: 700;
  line-height: 1;
  margin-left: 20px;
}

#temp-description {
  color: rgb(20, 79, 59);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Courgette", cursive;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #646a61;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.temperature {
  display: block;
  margin: 10px;
  font-size: 80px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

.units {
  text-decoration: none;
  color: #646a61;
  position: relative;
  top: -90px;
  left: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.float-left {
  float: left;
}

.row-forecast {
  background-color: #f4f5db;
  border-radius: 0.5px solid #f4f5db;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Courgette", cursive;
  color: rgb(20, 79, 59);
}

small {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  display: block;
  margin-bottom: 10px;
}
